<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dao.IBoardDao">
  	<insert id="insertBoard" parameterType="board">
  		insert into board values(0, #{title},#{content},#{annotation},
  		sysdate(),#{ageType},#{nick},#{id_index},#{viewNo},#{recommend})
  	</insert>
  
  	<update id="updateBoard" parameterType="board">
  		update board set 
  		title = #{title}, content = #{content}, 
  		annotation = #{annotation}, ageType = #{ageType} 
  		where boradNo = #{boradNo} and id_index = #{id_index} 
  	</update>
  	
  	<delete id="deleteBoard" parameterType="int">
  		delete from board where boardNo = #{boardNo}
  	</delete>
  	
  	<select id="selectByNick" parameterType="int" resultType="board">
  		select * from board where id_index = #{id_index}
  	</select>
  	
  	<select id="selectByTitle" parameterType="String" resultType="board">
  		select * from board where title = #{title}
  	</select>
  	
  	<select id="selectByAgeType" parameterType="String" resultType="board">
  		select * from board where ageType = #{ageType}
  	</select>
  	
  	
  	<select id="selectBest" resultType="board">
  		select * from board
  	</select>
  </mapper>